{% extends "base.html" %}
{% block content %}
    <div class="row">
        <h1>GitHug API</h1>
        <h2>Realtime API</h2>
        <p>
            You can get realtime information about hugs as they happen by connecting to the websocket located at
            <code>ws://githugapi.ojii.ch/</code>. The websocket will get messages for each hug as it
            happens. Hugs will be JSON objects looking like this:
            <pre>
                {
                    "created": unix timestamp,
                    "hugged": {
                        "avatar_url": avatar url,
                        "hugs_given": amount of hugs given,
                        "hugs_received": amount of hugs received,
                        "name": username,
                        "network": network ('github' for now),
                        "url": url to view profile/get user info
                    },
                    "hugger": {
                        "avatar_url": avatar url,
                        "hugs_given": amount of hugs given,
                        "hugs_received": amount of hugs received,
                        "name": username,
                        "network": network ('github' for now),
                        "url": url to view profile/get user info
                    },
                    "week": weeknumber,
                    "year": yearnumber
                }
            </pre>
        </p>
        <h2>REST API</h2>
        <p>
            To get information about a user, just make a <code>GET</code> request to a users profile page (for example
            <code>http://githugs.org/user/github/ojii/</code> with the header <code>Accept: application/json</code>.
            The response will be a JSON representation of that user looking like this:
            <pre>
                {
                    "avatar_url": avatar url,
                    "hugs": [
                        {
                            "created": unix timestamp,
                            "hugged": username of hugged user,
                            "hugger": username of hugger (this user),
                            "week": weeknumber,
                            "year": yearnumber
                        }
                    ],
                    "hugs_given": amount of hugs this user gave,
                    "hugs_received": amount of hugs this user received,
                    "name": username,
                    "network": network ('github' for now),
                    "url": the URL of the user profile (the URL you requested)
                }
            </pre>
        </p>
    </div>
{% endblock %}
