{% extends "base.html" %}
{% block content %}
<h1>Confirm</h1>
<p>
    Are you sure you want to hug {% if user.name %}<strong>{{ user.name }}</strong> aka {% endif %}<strong><a href="{{ user.html_url }}">{{ user.login }}</a></strong>? (You only have one hug per week!)
    <img src="{{ user.avatar_url }}" alt="Avatar of {{ user.login }}" />
</p>
<p>
    <form method="post" action="{{ url_for('hug', username=user.login, network='github') }}">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
        <input type="hidden" name="confirm" value="confirm" />
        <button type="submit">Yes, let's hug!</button>
    </form>
</p>
{% endblock %}
