{% extends "base_site.html" %}
{% block content %}
<div class="hero-unit row">
    <h1>GitHugs</h1>
    <p>free &amp; open source gratitude</p>
    <p>This site is all about showing people appreciation by giving them (virtual) hugs. So why not <a href="{{ url_for('confirm_hug', network=random_user.network, username=random_user.name) }}">hug</a> {{ random_user.verbose_name }}?</p>
    {% if g.user and g.user.can_hug() %}
        {% include "inc/hug_form.html" %}
    {% endif %}
</div>
<div class="row well well-small"><span id="realtime">Waiting for someone to hug someone...</span></div>
<div class="row">
    <h2>Stats</h2>
    <p>
        In total, <strong>{{ total_hugs|int() }}</strong> have been given. On average, each user that gave hugs gave <strong>{{ average_hugs_given|int() }}</strong>
        and each user that received hugs received <strong>{{ average_hugs_received|int() }}</strong> hugs.
        This week, <strong>{{ hugs_this_week|int() }}</strong>
        {% if hugs_this_week == 1 %}
            hug was
        {% else %}
            hugs were
        {% endif %}
        given, that is
        {% if hugs_this_week > hugs_last_week %}
            <strong>{{ hugs_this_week - hugs_last_week }} more</strong> than
        {% elif hugs_this_week == hugs_last_week %}
            <strong>the same as</strong>
        {% else %}
            <strong>{{ hugs_last_week - hugs_this_week }} less</strong> than
        {% endif %}
        last week (<strong>{{ hugs_last_week }}</strong>).
    </p>
</div>
{% endblock %}

{% block js %}
{% if g.websocket_url %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/mootools/1.4.5/mootools-yui-compressed.js"></script>
    <script type="text/javascript" src="/static/js/githug.js"></script>
<script type="text/javascript">
window.addEvent('domready', function(){
    GitHug.realtime($('realtime'), "{{ g.websocket_url }}");
});
</script>
{% endif %}
{% endblock %}
