{% extends "base_site.html" %}
{% block content %}
<div class="row">
    <div class="span4">
        <h1>Welcome {{ user }}</h1>
    </div>
    <div class="span4 offset4">
        <img class="avatar pull-right" src="{{ user.avatar_url }}" alt="Avatar of {{ user }}" />
    </div>
    <form class="form-inline" method="POST" action="{{ url_for('logout') }}">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
        <input class="btn" type="submit" value="Logout" />
    </form>
</div>
<div class="row">
    <div class="span12">
        <h2>Give hugs!</h2>
    </div>
</div>
{% if user.can_hug() %}
    {% include "inc/hug_form.html" %}
{% else %}
    <div class="well">
        {% set hug = user.get_today_hugged() %}
        <p class="clearfix">You hugged <a href="{{ hug.hugged.url }}">{{ hug.hugged }}</a> today! <img class="avatar pull-right" src="{{ hug.hugged.avatar_url }}" alt="Avatar of {{ hug.hugged }}" /></p>
    </div>
{% endif %}
{% include 'inc/user_stats.html' %}
<div class="row">
    <p>
        You can ask people to hug you by sending them this link: {{ urljoin(request.host_url, url_for('hug', username=user.name, network='github')) }}
    </p>
</div>
{% endblock %}
